<!--Card-->
<div class="card card-cascade wider reverse my-4">

  <!--Card image-->
  <div class="view overlay hm-zoom waves-light" mdbRippleRadius>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <!--/Card image-->

  <!--Card content-->
  <div class="card-body text-center">
    <!--Title-->
    <h4 class="card-title"><strong>My adventure</strong></h4>
    <h5 class="indigo-text"><strong>Photography</strong></h5>

    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    </p>

    <div class="col-md-12">
      <ul class="social-network social-circle">
        <!--Linkedin-->
        <li><a href="#" class="icoLinkedin"><i class="fa fa-linkedin"> </i></a></li>
        <!--Twitter-->
        <li><a href="#" class="icoTwitter"><i class="fa fa-twitter"> </i></a></li>
        <!--Facebook-->
        <li><a href="#" class="icoFacebook"><i class="fa fa-facebook"> </i></a></li>
        <!--Google Plus-->
        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>

  </div>
  <!--/.Card content-->

</div>
<!--/.Card-->
